{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h1>Автор: {{ article.author }}</h1>
<h1>{{ article.title }}</h1>
<p>{{ article.content|censor }}</p>
<h4>{{ article.time_created|date:'d:m:Y' }}</h4>

<p>Рейтинг {{ article.rating }}</p>

       {% if perms.newsportal.add_post  %}


<p><a href="{% url 'article_edit' article.pk %}">Изменить</a>
   {% endif %}

   {% if perms.newsportal.delete_post  %}
    <a href="{% url 'article_delete' article.pk %}">Удалить</a></p></p>
{% endif %}

{% if  article.comment_set.all %}
<br>
Комментарии: {% for comment in article.comment_set.all %}
{{ comment.user }} <br> <a href="{% url 'showcomment' comment.pk %}">{{ comment.content|censor }}</a>
<br> рейтинг  {{ comment.rating }}<hr>
{% endfor %}

{% else %}<br> Комментариев нет
{% endif %}
<a href="{% url 'like-news' article.pk %}">like</a>
<a href="{% url 'dislike-news' article.pk %}">dislike</a>
{% endblock content %}

